#haku_blend_layers_tabs {
  display: flex;
  flex-direction: row;
}

#haku_blend_layers_tabs > div{
  border: none;
  margin-left: 0;
}

#haku_blend_layers_tabs > .tab-nav{
  flex-direction: column;
}

#haku_blend_layers_tabs > .tabitem{
  width: 100%;
}